/* Landing Page Styles */
.landing-page {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative; /* Needed for positioning the pseudo-element */
  overflow: hidden; /* Prevents overflow of the pseudo-element */
}

.landing-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets//7.jpg'); /* Path to your background image */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image from repeating */
  opacity: 0.5; /* Adjust the opacity to your preference */
  z-index: -1; /* Ensure the pseudo-element is behind other content */
}

header {
  background-color: #b48c5f;
  color: rgb(255, 255, 255);
  padding: 1rem 0;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}

main {
  flex: 1;
  padding: 2rem;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.search-form input {
  width: 300px;
  padding: 0.5rem;
  margin-right: 1rem;
  border: 1px solid #c4b391;
  border-radius: 4px;
}

.search-form button {
  padding: 0.5rem 1rem;
  background-color: #8f733f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #66481c;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.book-card {
  width: 300px;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffffbb; /* Ensure white background for consistency */
  text-align: center; /* Center text and image in the card */
  padding: 20px; /* Add padding inside the card */
  color: #000000;
  
}

.book-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-image {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto 10px auto; /* Center the image horizontally and add margin at the bottom */
  border-radius: 8px; /* Optional: Add rounded corners to the image */
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

/* Additional styling for admin actions */
.admin-actions {
  margin: 20px 0;
}

.admin-action {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #744e16; /* Or any color you prefer */
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.admin-action:hover {
  background-color: #644011;
}
.book-rating {
  margin-top: 10px; /* Adjust as needed */
}

